<h1 class="text-center">Welcome to Spacebook</h1>
<h4 class="text-center">A page that started as a Facebook clone until I realized it's more of a Twitter Clone</h4>
<br>
<h4 class="text-center">Log in to start wasting time</h4>

<div class="row">
  <div class="small-3 columns"><img src="http://timemanagementninja.com/wp-content/uploads/2013/02/Wasting-Time.jpg"></a></div>
  <div class="small-3 columns"><img src="http://timemanagementninja.com/wp-content/uploads/2013/02/Wasting-Time.jpg"></a></div>
  <div class="small-3 columns"><img src="http://timemanagementninja.com/wp-content/uploads/2013/02/Wasting-Time.jpg"></a></div>
  <div class="small-3 columns"><img src="http://timemanagementninja.com/wp-content/uploads/2013/02/Wasting-Time.jpg"></a></div>
</div>

<!-- <div class="row">
  <div class="small-5">
    <div class="panel">
      <h5>A fancy panel entry</h5>
      <p>Maecenas blandit gravida urna, eu tincidunt turpis scelerisque id. Sed eleifend, nunc quis rhoncus accumsan, ante purus bibendum metus.</p>
    </div>
  </div>
</div> -->
