<h1 class="text-center">Welcome to Spacebook</h1>
<h4 class="text-center">A page that started as a Facebook clone until I realized it's more of a Twitter Clone</h4>
<br>
<h4 class="text-center">Log in to start wasting time</h4>
<div class="container">
  <div class="row">
    <div class="col-md-12"><img src="http://timemanagementninja.com/wp-content/uploads/2013/02/Wasting-Time.jpg"></a></div>
  </div>
</div>
