.margin-auto {
  margin: auto;
}

.no-li-deco {
  list-style: none;
}

.no-hover-color:hover {
  background-color: transparent;
}

.inline {
  display: inline-block;
}

.no-margin {
  margin: 0px;
}

.red {
  color: red;
}

.redbg {
  background-color: red;
}
